
body{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #222;
}*{
    user-select: none;
}
table {
  border-collapse: collapse;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}tr,td{
    border: 1px solid #999;
    color: #ccc;
    padding: 14px;
    cursor: pointer;
    text-align: center;
}td{
    font-weight: 700;

}td:hover{
    background-color: #363636;
}
body #qualiter_neige{
    position: fixed;
    top: 50%;
    left: 300%;
    transform: translate(-50%,-50%);
}body #qualiter_neige label{
    position: absolute;
    color: #ddd;
    width: 100%;
    text-align:center;
}body #qualiter_neige input{
    text-align: center;
    background-color: #ccc;
    border: 1px solid #000;
}
body #qualiter_neige button{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,200%);


    color: #999;
    background-color: #555;
    border: 3px #000 ridge;
    font-family: sans-serif;
    font-weight: 700;
    width: 100%;
    text-align:center;
    cursor: pointer;
}body #qualiter_neige button:hover{
    
    color: #aaa;
    background-color: #333;
    box-shadow: 0px 0px 20px #000f;
}body #qualiter_neige a{
    position: absolute;
    display: block;
    top:0%;
    left: 50%;
    transform: translate(-50%,-200%);
    
    text-shadow: 0px 0px 2px #000;
    font-family: sans-serif;
    color: #00f;
    font-weight: 700;
}

body img{

    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    z-index: -999;

}