

body{

    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;

    user-select: none;
    background-color: #ddd;

    padding: 0%;
    margin: 0%;

}body #head{
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 15%;

    background-color: #222;
}#head #titre{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    font-family: sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 40px;
    color: #ddd;

    text-align: center;
    align-content: center;
}#head #suivant{
    position: absolute;
    top: 50%;
    left: 99%;
    transform: translate(-100%,-50%);
    width: max-content;

    color: #e00;
    font-weight: 900;
    font-family: sans-serif;
    cursor: pointer;
    padding: 1%;
    border: 2px solid #900;
    box-shadow: 0px 0px 30px #f004;
}#head #suivant:hover{
    background-color: #000;
    border: 2px solid #e00;
}
body #body{
    position: absolute;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 50%;
    height: 50%;
}body #body a{
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    font-family: serif;
    font-weight: 700;
    color: #222;
    text-decoration: none;
}body #body input{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
   
    border: 1px solid #222;
    border-radius: 5px;
    text-align: center;
}